{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "arrow-parens": 0,
    "no-plusplus": 0,
    "new-cap": 0,
    "no-use-before-define": 0,
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "consistent-return": "off",
    "no-unused-vars": [
      2,
      {
        "args": "none"
      }
    ]
  }
}