.container {
    padding: 40px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.getMoviesBtn {

}

.searchInput {
    margin-top: 20px;
}